/* ************************************ CSS FOR APP.JS BELOW ************************************ */

html, body, #root, #main-row-routes, #main-design{
	height: 100%;
	/* background-color: #253f74; */
	background-color: #313e59;
	/* height: 100%; */
}

html{
  overflow-y: scroll;
}

body{
	min-height: 100%;
}

.row{
  width: 100%;
  margin: 0;
}

.col{
  padding: 0;
}

#main-row-routes{
	background-color: #313e59;
}

p{
	color: #cbd9f4;
	font-family: Helvetica;
	font-size: 16pt;
	margin-bottom: 0.5rem;
}

.question-text{
	font-size: 24pt;
}

.range-text{
	margin-bottom: 0;
}

span{
	color: rgb(197, 184, 255);
	text-decoration: underline;
}

.span-no-underline{
	text-decoration: none;
}


/* ************************************ CSS FOR COMPONENTS BELOW ************************************ */


#main-design{
	background-color: #172136;
}

#main-col-links{
	align-self: center;
}

.main-menu-options{
	text-align: center;
	font-size: 2rem;
	padding: 1rem;
	margin: 1rem;
}

.main-menu-options:hover{
	background-color: #313e59;
	border-radius: 10px;
}

#side-design{
	background-color: #172136;
	position: fixed;
	right: 0;
	height: min-content;
	margin: 1rem 2rem 0 0;
	border-radius: 10px;
	padding: 0 1rem 1rem;
}

.side-menu-current{
	text-align: center;
	padding: 1rem 1rem 0.5rem;
	margin: 0 1rem;
}

.side-menu-options{
	text-align: right;
	padding: 1rem;
	margin: 0 1rem;
}

.side-menu-options:hover{
	background-color: #313e59;
	border-radius: 10px;
}

#search-form{
	background-color: #071022;
}

#search-bar{
	font-size: 2rem;
	width: 100%;
	padding-left: 0.5rem;
	margin-left: -1rem;
}

.main-header-row{
	min-height: 100%;
}


.header-row{
	min-height: inherit;
}

.align-self-center{
	align-self: center;
}

.results{
	background-color: #172136;
	padding: 1rem 2rem 1rem 1.5rem;
	margin: 1rem;
	font-size: calc(5px + 2vmin);
	border-radius: 10px;
}

img{
	color: #cbd9f4;
	max-width: 100%;
}

#btn-to-home{
	margin-left: 2rem;
	padding-left: 0;
}

#btn-to-home, #link-to-home, #btn-to-top, #link-to-top{
	color: rgb(240, 240, 100);
	background-color: rgb(7, 16, 34);
	border: 0px;
	font-size: 4rem;
	border-radius: 50%;
	
}

#btn-to-home, #link-to-home{
	width: min-content;
}

#lockbox-basic-text{
	align-self: center;
}

#btn-to-top, #link-to-top{
	margin-left: -1rem;
	margin: 0;
	opacity: 0.8 !important;
}

#btn-to-top{
	position: fixed;
	display: none;
	font-size: 2rem;
	bottom: 2rem;
}

#link-to-top{
	margin: 1rem;
}

.btn-to-home:active, .btn-to-home:focus, .btn-to-top:active, .btn-to-top:focus{
	outline: 0;
}

hr{
	background-color: #cbd9f4;
	margin: 2rem 0 0;
}

.side-menu-hr{
	margin: 0 1rem 1rem;
}

#cryptic-tip-header, #scan-tip-header{
	margin-bottom: 0;
	align-self: center;
}

#cryptic-tip-below-header, #scan-tip-below-header{
	margin-bottom: 0;
	display: none;
}

#lockbox-unsolved{
	display: "block";
}

#lockbox-solved{
	display: "none";
}

.map-results{
	margin: 1rem auto;
}

.margin-bottom-zero{
	margin-bottom: 0;
}

@media only screen and (min-width: 1025px){
	.map-results{
		margin: 1rem auto;
	}
}

@media only screen and (min-width: 2560px){
	.side-menu-options{
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
}

@media only screen and (max-width: 1023px){
	#side-design{
		display: none;
	}
	#btn-to-top{
		right: 1rem;
		bottom: 1rem;
	}
}

@media only screen and (min-width: 769px){
	#search-form{
		min-height: 98px;
	}
	#btn-to-home{
		display: none;
	}
}

@media only screen and (max-width: 768px){
	.div-lockboxes{
		margin: 1rem;
	}
	.map-results{
		margin: 1rem auto;
	}
	.btn-to-home-map{
		margin-left: 2rem !important;
	}
	#btn-to-top{
		right: 0;
		bottom: 0;
	}
	#cryptic-tip-header, #hide-when-max-medium, #scan-tip-header{
		display: none;
	}
	#cryptic-tip-below-header, #scan-tip-below-header{
		display: block;
	}
}

@media only screen and (max-width: 425px){
	p{
		font-size: 11pt;
	}
	.question-text{
		font-size: 16pt;
	}
	#result-container{
		padding: 0;
	}
	.results{
		padding: 0.5rem;
		margin: 1rem 0.5rem;
	}
	img{
		padding-bottom: 0;
	}
	.cryptic-question-text{
		font-size: 12pt;
	}
	.btn-to-home-map{
		margin-left: 0rem !important;
	}
	.div-lockboxes{
		margin: 0 1rem;
	}


}
