/* ************************************ CSS FOR APP.JS BELOW ************************************ */

html, body, #root, #main-row-routes, #main-design{
	min-height: 100%;
	/* background-color: #253f74; */
	background-color: #313e59;
	height: 100%;
}

html{
  overflow-y: scroll;
}

.row{
  width: 100%;
  margin: 0;
}

.col{
  padding: 0;
}

#main-row-routes{
	background-color: #313e59;
}

p, h1, h2, h3 {
	color: #cbd9f4;
	font-family: Helvetica;
	/* text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000; */
}

span{
  color: rgb(197, 184, 255);
	text-decoration: underline;
}


/* ************************************ CSS FOR COMPONENTS BELOW ************************************ */

#main-design{
	background-color: #172136;
	padding-top: 10%;
}

.main-row-links{
	font-size: 2rem;
}

.main-menu-options{
	text-align: center;
	padding: 2rem;
	margin: 1rem;
	/* border: 2px solid rgb(240, 240, 100); */
}
.main-menu-options:hover{
	background-color: #313e59;
	border-radius: 50%;
}

#side-design{
	background-color: #172136;
	position: fixed;
	right: 0;
	height: min-content;
	margin: 1rem 2rem 0 0;
	border-radius: 10px;
	/* text-align: center; */
}

.side-menu-options{
	text-align: right;
	padding: 1rem;
	margin: 1rem;
}
.side-menu-options:hover{
	background-color: #313e59;
	border-radius: 10px;
}

#search-form, .side-design{
	position: static;
}

#search-form{
	background-color: #071022;
	/* padding: 1rem 0; */
}

#search-bar{
	font-size: 2rem;
	width: 100%;
	padding-left: 0.5rem;
	margin-left: -2rem;
}

.results{
	background-color: #172136;
	padding: 2rem;
	margin: 1rem;
	font-size: calc(5px + 2vmin);
	border-radius: 10px;
}

img{
	color: #cbd9f4;
}

#btn-to-home, #link-to-home, #btn-to-top, #link-to-top{
	background-color: #071022;
	color: rgb(240, 240, 100);
	border: 0px;
	font-size: 4rem;
	border-radius: 50%;
	
}

#btn-to-home, #link-to-home{
	width: min-content;
}

#btn-help-column, #lockbox-basic-text{
	align-self: center;
}

#btn-help{
	border-radius: 50%;
	border: none;
	height: 75px;
	width: 75px;
	font-size: 20pt;
}

#btn-to-top, #link-to-top{
 margin-left: -1rem;
}

#btn-to-top{
	position: fixed;
	display: none;
	font-size: 4rem;
	bottom: 2rem;
}

#link-to-top{
	margin: 1rem;
}

.btn-to-home:active, .btn-to-home:focus, .btn-to-top:active, .btn-to-top:focus, #btn-help:active, #btn-help:focus{
	outline: 0;
}

hr{
	background-color: #cbd9f4;
	margin-top: 0;
}

#lockbox-unsolved{
	display: "block";
}

#lockbox-solved{
	display: "none";
}

@media only screen and (max-width: 1023px){
	#side-design{
		display: none;
	}
}